<h2>Sales Order SO-{{ sale.id }}</h2>

<p>Customer: {{ sale.customer.name }}</p>

<table border="1">
    <tr>
        <th>Product</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Total</th>
    </tr>

    {% for item in items %}
    <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.selling_price }}</td>
        <td>{{ item.quantity }} × {{ item.selling_price }}</td>
    </tr>
    {% endfor %}
</table>

<h3>Total: {{ total }}</h3>
<h3 style="color:green;">Profit: {{ profit }}</h3>

{% if not sale.is_confirmed %}
<a href="{% url 'sales:confirm_sale' sale.id %}">
    Confirm Sale
</a>
{% endif %}
<a href="{% url 'sales:sales_invoice' sale.id %}" class="btn btn-primary">
    Generate Invoice
</a>